
<template lang="pug">
  .main-footer Copyright &copy; 2022
</template>

<script>
export default{
  name: 'FooterBar'
}
</script>
  
<style lang="scss">
.main-footer {
  padding: 2rem 3rem;
  color:white;
  background-color: #444;
  text-align: center;
}


</style>
   