<template>
    <div>
        <NavBar />
        <div class="main">
            <Nuxt />
        </div>
        <FooterBar />
    </div>
    
</template>

<script>
import NavBar from '~/components/inc/NavBar.vue';
import FooterBar from '~/components/inc/FooterBar.vue';


export default {
    name: 'default',
    components:{
    NavBar,
    FooterBar,
}
}
</script>

<style lang="scss">
.main {
    position: relative;
    padding: 5rem 0;
    min-height: 100vh;
    z-index: 2;
}
</style>